<p id="notice"><%= notice %></p>

<h1>Api Universities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_universities.each do |api_university| %>
      <tr>
        <td><%= link_to 'Show', api_university %></td>
        <td><%= link_to 'Edit', edit_api_university_path(api_university) %></td>
        <td><%= link_to 'Destroy', api_university, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api University', new_api_university_path %>
